n8n/coleta_ciclo_momentum_notion.json
{
  "name": "Ciclo e Momentum - Notion",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1e77419d-73ed-81ac-b554-c5d03f2fde4e",
          "mode": "list",
          "cachedResultName": "db_Indicadores_semanais",
          "cachedResultUrl": "https://www.notion.so/1e77419d73ed81acb554c5d03f2fde4e"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -440,
        160
      ],
      "id": "b6b93e8f-9618-4e1c-8e6e-2781e1239950",
      "name": "busca-indicadores-notion",
      "credentials": {
        "notionApi": {
          "id": "3T1cFPpTJBIHuQU0",
          "name": "get-notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let indicadores = {};\n\nitems.forEach(item => {\n  const nome = item.json.property_indicador;\n  const valor = item.json.property_valor;\n  const fonte = item.json.property_fonte_do_indicador;\n  indicadores[nome] = {\n    valor: valor,\n    fonte: fonte\n  };\n});\n\nreturn [{ json: indicadores }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        160
      ],
      "id": "56aea0cf-f13f-4746-b658-c24991090a47",
      "name": "mapea-campos-notion"
    },
    {
      "parameters": {
        "content": "## Coleta Indicadores - Ciclo e Momentum\nUsando API de conexão com Notion\n",
        "height": 380,
        "width": 1200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        20
      ],
      "id": "43d42d36-2599-44e0-bb38-5ad024cc3aaf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "indicadores_momentum",
          "mode": "list",
          "cachedResultName": "indicadores_momentum"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rsi_semanal": "={{ $json.rsi_semanal.valor }}",
            "funding_rates": "={{ $json.funding_rates.valor }}",
            "long_short_ratio": "={{ $json.long_short_ratio.valor }}",
            "fonte": "={{ $json.funding_rates.fonte }}",
            "timestamp": "={{ DateTime.now() }}",
            "sopr": "={{ $json.sopr.valor }}",
            "exchange_netflow": "={{ $json.exchange_netflow.valor }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rsi_semanal",
              "displayName": "rsi_semanal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "funding_rates",
              "displayName": "funding_rates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "long_short_ratio",
              "displayName": "long_short_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadados",
              "displayName": "metadados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "exchange_netflow",
              "displayName": "exchange_netflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sopr",
              "displayName": "sopr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        60
      ],
      "id": "0d4848cd-a136-4ed4-b7fd-df70b334e920",
      "name": "insere-momentum",
      "credentials": {
        "postgres": {
          "id": "L8UY7nrAn7PWD9UM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "indicadores_ciclo",
          "mode": "list",
          "cachedResultName": "indicadores_ciclo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mvrv_z_score": "={{ $json.mvrv_z_score.valor }}",
            "realized_ratio": "={{ $json.realized_ratio.valor }}",
            "puell_multiple": "={{ $json.puell_multiple.valor }}",
            "timestamp": "={{ DateTime.now() }}",
            "fonte": "Notion",
            "nupl": "={{ $json.nupl.valor }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mvrv_z_score",
              "displayName": "mvrv_z_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "realized_ratio",
              "displayName": "realized_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "puell_multiple",
              "displayName": "puell_multiple",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadados",
              "displayName": "metadados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nupl",
              "displayName": "nupl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        220
      ],
      "id": "85a96be0-a327-4873-a687-4a9704af5247",
      "name": "insere-ciclos",
      "credentials": {
        "postgres": {
          "id": "L8UY7nrAn7PWD9UM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        140
      ],
      "id": "f2bec795-ac4c-486e-ab0c-2b25e215f73c",
      "name": "end"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -660,
        160
      ],
      "id": "d3dee958-1248-47f5-a970-b4f984f4de1f",
      "name": "Schedule 1D"
    }
  ],
  "pinData": {},
  "connections": {
    "busca-indicadores-notion": {
      "main": [
        [
          {
            "node": "mapea-campos-notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapea-campos-notion": {
      "main": [
        [
          {
            "node": "insere-momentum",
            "type": "main",
            "index": 0
          },
          {
            "node": "insere-ciclos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere-momentum": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere-ciclos": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 1D": {
      "main": [
        [
          {
            "node": "busca-indicadores-notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Lisbon",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "77d40c01-8ca6-4f01-8736-b2271066c281",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df70ff04e1b45ccc1482849dfc7bcfb5dca43eb687554e47ff8dc55a9291bcc5"
  },
  "id": "DdGirtynyt80J3aH",
  "tags": [
    {
      "createdAt": "2025-05-28T08:01:35.423Z",
      "updatedAt": "2025-05-28T08:01:35.423Z",
      "id": "bZwkciaprVJSHUBA",
      "name": "coleta-indicadores"
    }
  ]
}